<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div class="max-w-2xl mx-auto py-24 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl capitalize">{{ header }} bridges</h2>
      <div [ngSwitch]="header">
        <p *ngSwitchCase="'longest'" class="mt-4 text-gray-500">As engineering and technology have advanced, bridges have become longer and more complex, allowing us to overcome obstacles that once seemed insurmountable.</p>
        <p *ngSwitchCase="'widest'" class="mt-4 text-gray-500">Bridges are not only measured by their length but also by their width, which is a crucial factor in determining their capacity to handle traffic flow and accommodate pedestrians.</p>
        <p *ngSwitchCase="'highest'" class="mt-4 text-gray-500">The highest bridges in the world are the ones that soar above the ground, providing breathtaking views and connecting remote regions that were once difficult to access.</p>
        <p *ngSwitchCase="'oldest'" class="mt-4 text-gray-500">Some of these bridges have stood the test of time and have become iconic structures that have inspired awe and admiration, survived for centuries and historical significance.</p>
        <p *ngSwitchCase="'united states'" class="mt-4 text-gray-500">While there are thousands of bridges in the United States of different sizes, some are more famous than others. Here are the most famous within the country you need to know.</p>
        <p *ngSwitchCase="'england'" class="mt-4 text-gray-500">England is a country of many rivers. From early times rivers were a means of communication and many towns in the country are located on rivers where they could be easily bridged.</p>
        <p *ngSwitchCase="'chinese'" class="mt-4 text-gray-500">Chinese people have built tens of thousands bridges over past thousands of years. The bridges have become an important symbol of Chinese ancient civilization.</p>
        <p *ngSwitchCase="'japanese'" class="mt-4 text-gray-500">Japanese bridges are not as cold and gray as they usually seem. From awe-inspiring aesthetic views to engineering and architectural marvels or even religious.</p>
      </div>
      
    </div>

    <div class="mt-16 space-y-16">
      <div (visibilityChange)="onVisibilityChange($event, i)"  *ngFor="let bridge of bridges; let i = index" class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center" enterTheViewportNotifier>
        <div [@fadeRight]="enterViewport[i] && i % 2 === 0 ? 'faded' : 'default'" [@fadeLeft]="enterViewport[i] && i % 2 !== 0 ? 'faded' : 'default'" [ngClass]="i % 2 === 0 ? 'lg:col-start-1' : 'lg:col-start-8 xl:col-start-9'" class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-5 xl:col-span-4">
          <h3 class="text-lg font-medium text-gray-900 mb-2">{{ bridge.name }} </h3>
          <div [ngSwitch]="header">
            <span *ngSwitchCase="'longest'" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-green-100 text-green-800"> {{ bridge.length | number:'1.0-0' }}m long</span>
            <span *ngSwitchCase="'widest'" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-green-100 text-green-800"> {{ bridge.width | number:'1.0-0' }}m wide</span>
            <span *ngSwitchCase="'highest'" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-green-100 text-green-800"> {{ bridge.height | number:'1.0-0' }}m high</span>
            <span *ngSwitchCase="'oldest'" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-green-100 text-green-800"> {{ bridge.built_in | customDate }}</span>
            <span *ngSwitchDefault class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-green-100 text-green-800"> {{ bridge.city }}, {{ bridge.country }}</span>
          </div>
          <p class="mt-3 text-sm text-gray-500">{{ (bridge.intro | slice:0:200) + '. . . . .' }}</p>
          <p class="mt-3"><a [routerLink]="['/bridge', bridge.id]" class="inline-flex items-center font-medium text-indigo-600 dark:text-blue-500 hover:underline">
            Read more here
            <svg aria-hidden="true" class="w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
          </p>
        </div>
        <div [@fadeLeft]="enterViewport[i] && i % 2 === 0 ? 'faded' : 'default'" [@fadeRight]="enterViewport[i] && i % 2 !== 0 ? 'faded' : 'default'" [ngClass]="i % 2 == 0 ? 'lg:col-start-6 xl:col-start-5' : 'lg:col-start-1'" class="flex-auto lg:row-start-1 lg:col-span-7 xl:col-span-8">
          <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100 overflow-hidden">
            <img [src]="bridge.thumbnail" [alt]="bridge.name" class="object-center object-cover">
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>