<main>
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <div class="gradient-overlay">
                <img src="../../../assets/images/golden-gate-bridge-slider.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="container">
              <div class="carousel-caption text-start">
                <h1 class="fw-bolder text-uppercase">Golden Gate Bridge</h1>
                <h4 class="text-capitalize">World's most famous</h4>
                <p>Golden Gate is most famous and most visited bridge in the world.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <div class="gradient-overlay">
                <img src="../../../assets/images/duge-bridge-slider.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="container">
              <div class="carousel-caption">
                <h1 class="fw-bolder text-uppercase">Duge Bridge</h1>
                <h4 class="text-capitalize">World's highest</h4>
                <p>Height : 565 metres (1,850 feet) above the Beipan River.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <div class="gradient-overlay">
                <img src="../../../assets/images/bridge-near-limyra-slider.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="container">
              <div class="carousel-caption text-end">
                <h1 class="fw-bolder text-uppercase">Bridge near Limyra</h1>
                <h4 class="text-capitalize">World's oldest</h4>
                <p>Built in the late Late Helladic III (ca. 1300-1190 BC).</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <div class="gradient-overlay">
                <img src="../../../assets/images/danyang-kunsan-slider.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="container">
              <div class="carousel-caption">
                <h1 class="fw-bolder text-uppercase">Danyang kunsan grand bridge</h1>
                <h4 class="text-capitalize">World's longest</h4>
                <p>164.8-kilometre-long.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- By categories -->
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-3">
              <img src="../../../assets/images/golden-bridge.jpg" class="img-thumbnail hvr" alt="...">
              <h2 class="text-capitalize fw-bold">Famous bridges</h2>
              <ol class="list-group list-group-numbered mb-3">
                <li class="list-group-item text-capitalize">Golden gate bridge</li>
                <li class="list-group-item text-capitalize">Akashi Kaikyo bridge</li>
                <li class="list-group-item text-capitalize">Sunshine skyway bridge</li>
              </ol>
              <p><a class="btn btn-secondary" href="#">View all lists &raquo;</a></p>
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3">
              <img src="../../../assets/images/danyang-kunsan.jpg" class="img-thumbnail hvr" alt="...">
              <h2 class="text-capitalize fw-bold">Longest bridges</h2>
              <ol class="list-group list-group-numbered mb-3">
                <li class="list-group-item text-capitalize">Danyang-Kunshan bridge</li>
                <li class="list-group-item text-capitalize">Tianjin grand bridge</li>
                <li class="list-group-item text-capitalize">Manchac swamp bridge</li>
              </ol>
              <p><a class="btn btn-secondary" href="#">View all lists &raquo;</a></p>
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3">
              <img src="../../../assets/images/duge-bridge.jpg" class="img-thumbnail hvr" alt="...">
              <h2 class="text-capitalize fw-bold">Highest bridges</h2>
              <ol class="list-group list-group-numbered mb-3">
                <li class="list-group-item text-capitalize">Duge Bridge</li>
                <li class="list-group-item text-capitalize">Sidu river bridge</li>
                <li class="list-group-item text-capitalize">Puli bridge</li>
              </ol>
              <p><a class="btn btn-secondary" href="#">View all lists &raquo;</a></p>
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3">
              <img src="../../../assets/images/bridge-near-limyra.jpg" class="img-thumbnail hvr" alt="...">
                <h2 class="text-capitalize fw-bold">Oldest bridges</h2>
                <ol class="list-group list-group-numbered mb-3">
                  <li class="list-group-item text-capitalize">Bridge near Limyra</li>
                  <li class="list-group-item text-capitalize">Kapellbrücke</li>
                  <li class="list-group-item text-capitalize">Frankford Avenue Bridge</li>
                </ol>
                <p><a class="btn btn-secondary" href="#">View all lists &raquo;</a></p>
              </div><!-- /.col-lg-3 -->
          </div><!-- /.row -->
    </div>
    <!-- By country -->
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3 d-flex">
        <div class="py-5 w-50">
          <h1 class="display-5 fw-bold">Some Countries Famous
          <br>
          For Their Bridges</h1>
          <p class="fs-4">There are several countries that are renowned for their iconic bridges. They are not only symbols of the countries' engineering and architectural achievements, but also serve as important tourist attractions.</p>
          <button class="btn btn-primary btn-lg" type="button">View All Countries</button>
        </div>
        <div class="py-5 w-50 d-flex flex-wrap">
          <div class="row">
            <div class="col-6 mb-4 position-relative">
              <div class="gradient-overlay w-100 h-100 rounded">
                <img src="../../../assets/images/golden-bridge.jpg" class="rounded w-100 h-100" alt="...">
              </div>
              <h4 class="img-cap-bl text-white">United States</h4>
            </div>
            <div class="col-6 mb-4 position-relative">
              <div class="gradient-overlay w-100 h-100 rounded">
                <img src="../../../assets/images/tower-bridge.jpg" class="rounded w-100 h-100" alt="...">
              </div>
              <h4 class="img-cap-bl text-white">United Kingdom</h4>
            </div>
            <div class="col-6 position-relative">
              <div class="gradient-overlay w-100 h-100 rounded">
                <img src="../../../assets/images/akashi-kayo-bridge.jpg" class="rounded w-100 h-100" alt="...">
              </div>
              <h4 class="img-cap-bl text-white">Japan</h4>
            </div>
            <div class="col-6 position-relative">
              <div class="gradient-overlay w-100 h-100 rounded">
                <img src="../../../assets/images/duge-bridge.jpg" class="rounded w-100 h-100" alt="...">
              </div>
              <h4 class="img-cap-bl text-white">China</h4>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Most visited -->
    <div class="container mt-5">
      <!-- /* Heading underline -->
      <div class="row">
        <div class="col">
          <h2 class="text-capitalize text-center fw-bold">Most visited bridges</h2>
          <div class="heading-underline">
            <span></span>
          </div>
        </div>
      </div>
      <!-- Heading underline */ -->
      <div class="row mb-2 mt-4">
        <div class="col">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm h-md-250 position-relative">
            <div class="col-6 p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 mt-2 text-primary">United States</strong>
              <h3 class="mb-4 text-capitalize fw-bold">Golden Gate Bridge</h3>
              <p class="card-text mb-4">The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the one-mile-wide (1.6 km) strait connecting San Francisco Bay and the Pacific Ocean. The structure links the U.S. city of San Francisco, California—the northern tip of the San Francisco Peninsula—to Marin County, carrying both U.S. Route 101 and California State Route 1 across the strait. It also carries pedestrian and bicycle traffic, and is designated as part of U.S. Bicycle Route 95.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-6 d-none d-lg-block">
              <img src="../../../assets/images/golden-bridge.jpg" class="h-100 w-100" alt="">
            </div>
          </div>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-6 d-none d-lg-block">
              <img src="../../../assets/images/akashi-kayo-bridge.jpg" class="h-100 w-100" alt="">
            </div>
            <div class="col-6 p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 mt-2 text-primary">Japan</strong>
              <h3 class="mb-4 text-capitalize fw-bold">Akashi Kaikyo Bridge</h3>
              <p class="card-text mb-4">The Akashi Kaikyo Bridge is a suspension bridge which links the city of Kobe on the Japanese island of Honshu to Iwaya on Awaji Island. It is part of the Kobe-Awaji-Naruto Expressway, and crosses the busy and turbulent Akashi Strait (Akashi Kaikyō in Japanese). It was completed in 1998, and has the longest central span of any suspension bridge in the world, at 1,991 metres (6,532 ft). It is one of the key links of the Honshū-Shikoku Bridge Project, which created three routes across the Inland Sea.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us -->
    <div class="container text-light py-5 text-center mt-5">
      <div class="banner-abt-us rounded-3">
        <div style="background-color: rgba(0, 0, 0, 0.349);" class="w-100 h-100 rounded-3 d-flex">
          <div class="py-5 d-flex flex-column justify-content-center">
            <h1 class="display-5 fw-bold text-white text-capitalize">About us</h1>
            <div class="col-lg-6 mx-auto">
              <p class="fs-5 mb-4">Amazing Bridges is a Professional informative Platform. which provides you the information regarding the famous bridges around the world We're dedicated to providing you the best of information, with a focus on dependability.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold text-capitalize">Contact us</button>
                <button type="button" class="btn btn-light btn-lg px-4 text-capitalize">Queries</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Gallery -->
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h2 class="text-capitalize text-center fw-bold">Gallery</h2>
          <div class="heading-underline">
            <span></span>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px;">
        <div class="row">
            <div class="col-sm-5 p-3 text-white position-relative gallery-item">
                <a href="../../../assets/images/golden-gate-bridge-1.jpg" class="fancybox" data-fancybox="gallery1"
                    data-caption="The Golden Gate Bridge">
                    <img class="wow animate__animated animate__fadeInLeft rounded-3" data-wow-duration="1s"
                        data-wow-delay=".3s" src="../../../assets/images/golden-gate-bridge-1.jpg" style="width: 100%;height: 300px;">
                </a>
                <a href=""><button class="btn btn-light btn-inline"> Golden Gate Bridge</button></a>
            </div>
            <div class="col-sm-7 p-3 text-white position-relative gallery-item">
                <a href="../../../assets/images/puli-bridge-1.jpeg" class="fancybox" data-fancybox="gallery1"
                    data-caption="Puli Bridge">
                    <img class="wow animate__animated animate__fadeInRight rounded-3" data-wow-duration="1s"
                        data-wow-delay=".3s" style="width: 100%;height: 300px;"
                        src="../../../assets/images/puli-bridge-1.jpeg">
                </a>
                <a href=""><button class="btn btn-light btn-inline">Puli Bridge</button></a>
            </div>
        </div>
        <!--ROW 2-->
        <div class="row">
            <div class="col-sm-4 p-3 text-white position-relative gallery-item">
                <a href="../../../assets/images/london-bridge-1.jpg" class="fancybox" data-fancybox="gallery1"
                    data-caption="London Bridge">
                    <img class="wow animate__animated animate__fadeInLeft rounded-3" data-wow-duration="1s"
                        data-wow-delay=".3s" src="../../../assets/images/london-bridge-1.jpg"
                        style="width: 100%;height: 300px;">
                </a>
                <a href=""><button class="btn btn-light btn-inline"> London Bridge
                    </button></a>
            </div>
            <div class="col-sm-4 p-3 text-white position-relative gallery-item">
                <a href="../../../assets/images/hill-bridge-1.jpg" class="fancybox"
                    data-fancybox="gallery1" data-caption="Leonard Bunker Hill Bridge">
                    <img class="wow animate__animated animate__fadeIn rounded-3" data-wow-duration="1s"
                        data-wow-delay=".3s" style="width: 100%;height: 300px;"
                        src="../../../assets/images/hill-bridge-1.jpg">
                </a>
                <a href=""><button class="btn btn-light btn-inline"> Leonard Bunker Hill Bridge</button></a>
            </div>
            <div class="col-sm-4 p-3 text-white position-relative gallery-item">
                <a href="../../../assets/images/sydney-harbor-bridge-1.jpg" class="fancybox" data-fancybox="gallery1"
                    data-caption="Sydney Harbour Bridge.jpg">
                    <img class="wow animate__animated animate__fadeInRight rounded-3" data-wow-duration="1s"
                        data-wow-delay=".3s" style="width: 100%;height: 300px;"
                        src="../../../assets/images/sydney-harbor-bridge-1.jpg">
                </a>
                <a href=""><button class="btn btn-light btn-inline">Sydney Harbor Bridge</button></a>
            </div>
        </div>
        <!--ROW 3-->
        <div class="row">
            <div class="col-sm-7 p-3 text-white position-relative gallery-item">
                <a href="../../../assets/images/brooklyn-bridge-1.jpg" class="fancybox" data-fancybox="gallery1"
                    data-caption="Brooklyn Bridge">
                    <img class="wow animate__animated animate__fadeInLeft rounded-3" data-wow-duration="1s"
                        data-wow-delay=".3s" src="../../../assets/images/brooklyn-bridge-1.jpg"
                        style="width: 100%;height: 300px;"></a>
                <a href=""><button class="btn btn-light btn-inline"> Brooklyn Bridge</button></a>
            </div>
            <div class="col-sm-5 p-3 text-white position-relative gallery-item">
                <a href="../../../assets/images/frankford-avenua-bridge-1.jpg" class="fancybox" data-fancybox="gallery1"
                    data-caption="Frankford Avenue Bridge">
                    <img class="wow animate__animated animate__fadeInRight rounded-3" data-wow-duration="1s"
                        data-wow-delay=".3s" style="width: 100%;height: 300px;"
                        src="../../../assets/images/frankford-avenua-bridge-1.jpg"></a>
                <a href=""><button class="btn btn-light btn-inline">Frankford Avenue Bridge</button></a>
            </div>
        </div>
        <!--ROW 4 AND 5-->

        <div class="row">
            <div class="col-sm-5 p-3 text-white position-relative gallery-item">
                <a href="../../../assets/images/duge-bridge-1.jpg" class="fancybox" data-fancybox="gallery1"
                    data-caption="Duge Bridge">
                    <img class="wow animate__animated animate__fadeInLeft rounded-3" data-wow-duration="1s"
                        data-wow-delay=".3s" src="../../../assets/images/duge-bridge-1.jpg"
                        style="width: 100%;height: 600px;"></a>
                <a href=""><button class="btn btn-light btn-inline" id="gallery-item-vertical">Duge Bridge</button></a>
            </div>
            <div class="col-sm-7 p-3 text-white" style="margin-top: -15px;">
                <div class="row">
                    <div class="col-sm-6 p-3 text-white position-relative gallery-item">
                        <a href="../../../assets/images/sidu-river-bridge-1.jpg" class="fancybox" data-fancybox="gallery1"
                            data-caption="Sidu River Bridge">
                            <img class="wow animate__animated animate__fadeIn rounded-3" data-wow-duration="1s"
                                data-wow-delay=".3s" src="../../../assets/images/sidu-river-bridge-1.jpg"
                                style="width: 100%;height: 280px;"></a>
                        <a href=""><button class="btn btn-light btn-inline">Sidu River Bridge</button></a>
                      
                    </div>
                    <div class="col-sm-6 p-3 text-white position-relative gallery-item">
                        <a href="../../../assets/images/duge-bridge-2.jpg" class="fancybox" data-fancybox="gallery1"
                            data-caption="Duge Bridge">
                            <img class="wow animate__animated animate__fadeInRight rounded-3" data-wow-duration="1s"
                                data-wow-delay=".3s" src="../../../assets/images/duge-bridge-2.jpg"
                                style="width: 100%;height: 280px;"></a>
                        <a href=""><button class="btn btn-light btn-inline">Duge Bridge</button></a>
                        
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-6 p-3 text-white position-relative gallery-item">
                        <a href="../../../assets/images/tower-bridge.jpg" class="fancybox" data-fancybox="gallery1"
                            data-caption="Tower Bridge">
                            <img class="wow animate__animated animate__fadeIn rounded-3" data-wow-duration="1s"
                                data-wow-delay=".3s" src="../../../assets/images/tower-bridge.jpg"
                                style="width: 100%;height: 280px;"></a>
                        <a href=""><button class="btn btn-light btn-inline">Tower Bridge</button></a>
              
                    </div>
                    <div class="col-sm-6 p-3 text-white position-relative gallery-item">
                        <a href="../../../assets/images/akashi-kayo-bridge.jpg" class="fancybox" data-fancybox="gallery1"
                            data-caption="Akashi Kaikyo Bridge">
                            <img class="wow animate__animated animate__fadeInRight rounded-3" data-wow-duration="1s"
                                data-wow-delay=".3s" src="../../../assets/images/akashi-kayo-bridge.jpg"
                                style="width: 100%;height: 280px;"></a>
                        <a href=""><button class="btn btn-light btn-inline">Akashi Kaikyo Bridge</button></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>