<!-- Logo Cloud -->
<div class="bg-gray-100">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <p class="text-center text-sm font-semibold uppercase text-gray-500 tracking-wide">Carefully built with powerful technology stack</p>
      <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="../../../assets/images/2023-02/mysql-logo-grayscale.svg" alt="mysql">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="../../../assets/images/2023-02/expressjs-logo-grayscale.svg" alt="expressjs">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="../../../assets/images/2023-02/angular-3-logo-grayscale.svg" alt="angular">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 md:col-start-2 lg:col-span-1">
          <img class="h-12" src="../../../assets/images/2023-02/nodejs-logo-grayscale.svg" alt="nodejs">
        </div>
        <div class="col-span-2 flex justify-center md:col-span-2 md:col-start-4 lg:col-span-1">
          <img class="h-12" src="../../../assets/images/2023-02/tailwindcss-grayscale.svg" alt="tailwindcss">
        </div>
      </div>
    </div>
  </div>