h1{
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
  text-align: center;
  font-weight: bold;
}
.g-image{
  width: 100%;
  box-shadow: 1px 1px 5px black;
  transition: .5s;
  height: 300px;
}
.pd-16 {
  padding: 16px !important;
}
.ht-640 {
  height: 640px;
}
#cont .btn {
  height: 35px;
  position: absolute;
  top: 88%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
  width: 65%;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
}
#cont {
  position: relative;
}
#cont .btn:hover {
  color: rgb(199, 27, 27);
}
#cont:hover .btn {
  display: block;
}
#cont .btn2 {
  height: 35px;
  position: absolute;
  top: 88%;
  left: 83%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
  width: 10%;
  border: none;
  border-radius: 5px;
  border: 1px solid white;
  display: none;

}
#cont .btn2:hover {
  color: rgb(199, 27, 27);
}
#cont:hover .btn2 {
  display: block;
}
.svg-inline--fa
{
  width: 18px;
  margin-left: auto;
  margin-right: auto;
}

