<nav class="navbar fixed-top bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/Angular_full_color_logo.svg.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Amazing Bridges
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex w-30" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-semibold w-70 justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bridges
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Top 10 Bridges</a></li>
              <li><a class="dropdown-item" href="#">Longest</a></li>
              <li><a class="dropdown-item" href="#">Highest</a></li>
              <li><a class="dropdown-item" href="#">Oldest</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Queries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sitemap</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>