.accordion-button:not(.collapsed)::before {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button::before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: 0;
    margin-right: 10px;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button::after {
    display: none;
}

.accordion-button:not(.collapsed)::after {
    display: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #333;
}

.accordion-body {
    padding: 0;
}

.accordion-item {
    border: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion {
    background-color: #f2f4f7;
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: 100%;
}

.accordion-item {
    background-color: inherit;
}

.accordion-button {
    background-color: inherit;
}

.accordion-button:focus {
    box-shadow: none;
}

p {
    margin-bottom: 0;
}

.accordion-body div {
    cursor: pointer;
}

.accordion-body div {
    padding: .5rem 0 .5rem 4rem;
}

.accordion-body div:not(.highlight):hover {
    background-color: #cdcdcd;
}

a {
    text-decoration: none;
    color: #333;
}

.highlight {
    background-color: #3571fe;
    color: #fff;
}