
@keyframes anima-x {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: none;
  }
}

.anima-x {
  display: inline-block;
  animation: anima-x 1s 1s ease both,text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}


@keyframes anima-y {
  from {
    transform: translateX(150%);
  }
  to {
    transform: none;
  }
}

.anima-y {
  animation: anima-y 1s 1s ease both,text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
