<div class="item">
    <h2>Gemma Robertson</h2>
    <p class="subject">Apology for late response email</p>
    <p class="content">Hello Collete Wooten,</p>
    <hr>
</div>
<div class="item">
    <h2>Ann Garza</h2>
    <p class="subject">Application for Job Title</p>
    <p class="content">Hello Kerry Best,</p>
    <hr>
</div>
<div class="item">
    <h2>Alfonso Burnett</h2>
    <p class="subject">Anything I can help with</p>
    <p class="content">Hello Otto Ashley</p>
    <hr>
</div>
<div class="item">
    <h2>Rogan Espinoza</h2>
    <p class="subject">Assistant Marketing Department</p>
    <p class="content">Hello Kerry Best,</p>
    <hr>
</div>
<div class="item">
    <h2>Sierra Kerr</h2>
    <p class="subject">Application for Transfer</p>
    <p class="content">Hello Halee Lindse,</p>
    <hr>
</div>