p {
    margin-bottom: 10px;
}

.name {
    font-size: .9rem;
    font-weight: 700;
}

.subject {
    color: gray;
    font-size: .8rem;
}

.content {
    font-size: .7rem;
}

.row {
    height: 20%;
    margin-right: 0;
    margin-left: 0;
    padding: 8px;
}

img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}